@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --White: hsl(0, 0%, 100%);
    }

*{
    padding: 0px;
    margin: 0px;
    font-optical-sizing: auto;
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
}

body {
    padding-bottom: 8rem;
}

h1{
    font-weight: 700;
    text-shadow: 1.5px 0 #000000;
}

/* 
@media screen and (min-width: 640px) {
    
  } */